*{
    box-sizing: border-box;
  }

  body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    
  }

  .parent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    
    height: 100%;
    width: 100%;
}
.container{
  padding-bottom: 275px;
  padding-top: 275px;
  align-items: center;
  
}
#fbutn{
text-align: center;
width: 210px;
font-weight: bold;
font-size: large;
color: darkblue;
height: 40px;
}